* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(90deg, rgb(173, 255, 173), rgb(233, 255, 220));
}

.container {
    position: relative;
    width: 850px;
    height: 550px;
    background-color: white;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 0 0 30px rgba(0,0,0,0.2);
    transition: all 0.5s ease;
}

.formBox {
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    transition: all 0.6s ease-in-out;
}

#formBoxLogin {
    left: 0;
    z-index: 2;
}

#formBoxReg {
    left: 0;
    opacity: 0;
    z-index: 1;
}

.container.active #formBoxLogin {
    transform: translateX(100%);
    opacity: 0;
    z-index: 1;
}

.container.active #formBoxReg {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
}

.tit {
    font-size: 35px;
    margin-bottom: 20px;
    color: #333;
}

.inputBox {
    width: 100%;
    margin: 10px 0;
    background: #eee;
    display: flex;
    align-items: center;
    padding: 0 15px;
    border-radius: 10px;
}

.inputBox input {
    width: 100%;
    padding: 12px;
    background: transparent;
    border: none;
    outline: none;
}

.icons {
    width: 35;
    height: 35px;
}

.btn {
    margin-top: 20px;
    padding: 12px 45px;
    background-color: lightgreen;
    border: none;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.3s;
}

.btn:hover {
    background-color: #76e076;
    transform: scale(1.05);
}

.toggleBox {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    z-index: 100;
}

.container.active .toggleBox {
    transform: translateX(-100%);
}

.toggleBox::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 200%;
    height: 100%;
    background: linear-gradient(135deg, #98f5b7, #f4fff4);
    transition: all 0.6s ease-in-out;
}

.container.active .toggleBox::before {
    left: 0;
}

.togglePanel {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 40px;
    text-align: center;
    top: 0;
    transition: all 0.6s ease-in-out;
    color: #444;
}

#togglePanelIzq {
    transform: translateX(-200%);
}

.container.active #togglePanelIzq {
    transform: translateX(0);
}

#togglePanelDer {
    transform: translateX(0);
}

.container.active #togglePanelDer {
    transform: translateX(200%);
}

#toggleBtnLogin, #toggleBtnReg {
    background: transparent;
    border: 2px solid #555;
    color: #444;
}

#toggleBtnLogin:hover, #toggleBtnReg:hover {
    background: #555;
    color: white;
}
